main {
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

div {
    padding: 2rem;
    /* width: 100%; */
}

div:nth-child(1) {
    background-color: #F06449;
}

div:nth-child(3) {
    background-color: #33a75c;
}